footer{
    position: absolute;
    bottom:0;
    width:100%;
}

#page-content {
    flex: 1 0 auto;
}

#sticky-footer {
    flex-shrink: unset;
}

/** Form CSS **/
.form-control-borderless {
    border: none;
}

.form-control-borderless:hover, .form-control-borderless:active, .form-control-borderless:focus {
    border: none;
    outline: none;
    box-shadow: none;
}

